.description {
    background: #fff;
    text-align: center;
    width: 400px;
    height: 350px;
    padding: 30px;
    margin: 0 auto;
}

.avatar {
    width: 100px;
}

.name {
    color: rgb(67, 67, 80);
    font-weight: bold;
}

.tag,
.location {
    color: rgb(130, 135, 206);
    font-size: 24px;
}

.stats {
    display: flex;
    margin: 0;
    width: 460px;
    padding: 0;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: beige;
}

.label {
    color: rgb(130, 135, 206);
    font-size: 20px;
}

.quantity {
    color: rgb(67, 67, 80);
    font-size: 25px;
    font-weight: bolder;
}